<div class="panel panel-default" ng-controller="TournamentGroupController as tourGroup">
	<ol class="breadcrumb">
		<li><a href="javascript:void(0)">{{ tourGroup.tournamentName }}</a></li>
		<li class="active">{{ tourGroup.groupInfo.name }}</li>
	</ol>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="management/#matches">
					<i class="fa fa-television"></i>
					<span translate="components.tournament.tab.matches"></span>
				</a>
			</li>
			<li>
				<a data-toggle="tab" href="management/#statistics">
					<i class="fa fa-server"></i>
					<span translate="components.tournament.tab.statistics"></span>
				</a>
			</li>
			<li>
				<a data-toggle="tab" href="management/#information">
					<i class="fa fa-info-circle"></i>
					<span translate="components.tournament.tab.information"></span>
				</a>
			</li>
		</ul>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="tab-content">
					<div id="matches" class="tab-pane fade in active">
						<div betting></div>
					</div>
					<div id="statistics" class="tab-pane fade">
						<a href="javascript:void(0)" ng-class="{'btn btn-primary': tourGroup.activePlayer=='group', 'btn btn-default': tourGroup.activePlayer!='group'}" ng-click="tourGroup.activePlayer='group'">
							<i class="fa fa-users"></i>
							<span translate="components.tournament.history.groupStatistic"></span>
						</a>
						<a href="javascript:void(0)" ng-class="{'btn btn-primary': tourGroup.activePlayer=='player', 'btn btn-default': tourGroup.activePlayer!='player'}" ng-click="tourGroup.activePlayer='player'">
							<i class="fa fa-user"></i>
							<span translate="components.tournament.history.playerStatistic"></span>
						</a>
						
						<div player-history ng-show="tourGroup.activePlayer=='player'"></div>
						<div group-history ng-show="tourGroup.activePlayer=='group'"></div>
						<div comment ng-show="tourGroup.activePlayer=='group'"></div>
					</div>
					<div id="information" class="tab-pane fade">
						<div class="row">
							<div class="col-sm-8">
								<div class="panel-heading panel-title has-minheight">
									<strong class="panel-title pull-left text-muted font-size" translate="common.group.information.information"></strong>
									<div class="text-right panel-title" ng-show="tourGroup.isMod">
										<button class="btn btn-primary" ng-click="tourGroup.openUpdateGroup()">
  											<span class="glyphicon glyphicon-edit" aria-hidden="true"></span><span translate="common.group.information.editGroup"></span>
										</button>
									</div>
								</div>
								<div class="panel-body">
									<ul class="list-group information">
										<li class="list-group-item">
											<div class="row">
												<span class="col-sm-4" translate="common.group.information.name"></span>
												<span class="col-sm-8" ng-bind="tourGroup.groupInfo.name"></span>
											</div>
										</li>
										<li class="list-group-item">
											<div class="row">
												<span class="col-sm-4" translate="common.group.information.moderator"></span>
												<span class="col-sm-8" ng-bind="tourGroup.groupInfo.moderator.username"></span>
											</div>
										</li>
										<li class="list-group-item">
											<div class="row">
												<span class="col-sm-4" translate="components.tournament.name"></span>
												<span class="col-sm-8" ng-bind="tourGroup.tournamentName"></span>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="panel-heading panel-title has-minheight">
									<strong class="panel-title pull-left text-muted font-size" translate="common.group.information.groupPlayers"></strong>
								</div>
								<div class="panel-body">
									<ul class="list-group information">
										<li class="list-group-item" ng-repeat="member in tourGroup.groupInfo.members" >
											<i class="fa fa-user"></i> {{ member.username }}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>