<div class="modal-content" ng-init="createBet.loadData(createBet.data)">
  <div class="modal-header">
  <button type="button" class="close" ng-click="createBet.closeModal()">&times;</button>
      <h4 class="modal-title" ng-hide="createBet.data.hide">Create Betting Match</h4>
      <h4 class="modal-title" ng-hide="!createBet.data.hide">Update Betting Match</h4>
  </div>
  <div class="modal-body">
    <p><strong>Match</Strong></p>
      <div class="text-center">
        <span ng-bind="createBet.data.competitor1"></span> - <span ng-bind="createBet.data.competitor2"></span>
      </div>
    <br>
    <p><strong>Balance<span class="text-danger">*</span></strong></p>
    <p>
      <div class="form-inline text-center">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <input type="number" class="form-control" ng-model="createBet.data.balance1" min="0">
          <span class="text-danger" ng-bind="createBet.data.errorBal1"></span>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control" ng-model="createBet.data.balance2" min="0">
          <span class="text-danger" ng-bind="createBet.data.errorBal2"></span>
        </div>
      </div>
    </p>
    <br><br><br>
    <p><strong>Expire time<span class="text-danger">*</span></strong></p>
    <div class="form-group">
        <div class="input-group date" date-time-picker ng-model="createBet.data.time">
          <input type="text" class="form-control" ng-model="createBet.data.timeOld" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="text-danger" ng-bind="createBet.data.errorTime"></span>
    </div>
    <p><strong>Bet amount<span class="text-danger">*</span></strong></p>
    <input type="number" class="form-control" ng-model="createBet.data.amount" min="0">
    <span class="text-danger" ng-bind="createBet.data.errorBetAmount"></span>
    <br>
    <p><strong>Description</strong></p>
      <textarea class="form-control" rows="3" ng-model="createBet.data.description" style="resize:none"></textarea>
    <br>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="createBet.data.active"> Activate
      </label>
    </div>
    <hr>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-hide="createBet.data.hide" ng-click="createBet.create(createBet.data)">Create</button>
      <button type="button" class="btn btn-primary" ng-hide="!createBet.data.hide" ng-click="createBet.update(createBet.data)">Update</button>
      <button type="button" class="btn btn-primary" ng-click="createBet.cancel()">Cancel</button>
    </div>
    <br>
    <br>
    </div>
  </div>
</div>
