<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title"><small translate="common.reset-password.title"></small></h2>
  </div>
  <div class="modal-body">
    <form enctype="application/json" name="resetPwForm">
      <div class="form-group">
        <p translate="common.reset-password.mark"></p>
      </div>  
      <div class="form-group" ng-class="{'has-error':resetPwForm.email.$error.email}">
        <label for="email" class="control-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Please enter your email" ng-model="resetPassword.email" required>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-primary" ng-click="resetPassword.reset(resetPassword.email)" ng-disabled="resetPwForm.$invalid">Submit</button>
        <button type="button" class="btn btn-default" ng-click="resetPassword.closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>

