<md-dialog ng-cloak>
    <div class="modal-header">
        <h2 class="modal-title"><small translate="common.group.title"></small></h2>
    </div>
    <md-dialog-content>
        <div class="md-dialog-content">
            <p translate="common.group.mark"></p>
            <div class="form-group" ng-class="{'has-error' : groupCtrl.error.name.length > 0}">
                <label for="name" class="control-label" translate="common.group.name"></label>
                <input type="text" class="form-control" id="name" name="name" ng-model="groupCtrl.groupData.name" required>
                <span class="text-danger" ng-show="groupCtrl.error.name">{{ groupCtrl.error.name }}</span>
            </div>
            <div class="form-group" ng-class="{'has-error' : groupCtrl.error.tournamentId.length > 0}">
                <label for="name" class="control-label" translate="common.group.tournament"></label>
                <select class="form-control" ng-options="tournament.id as tournament.name for tournament in groupCtrl.groupData.tournaments" ng-model="groupCtrl.groupData.tournament" ng-disabled="groupCtrl.groupData.tournament !=-1">
                    <option value="" translate="common.group.marktournament"></option>
                </select>
                <span class="text-danger" ng-show="groupCtrl.error.tournamentId">{{ groupCtrl.error.tournamentId }}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': group.error.moderator.length > 0}">
                <label for="moderator" class="control-label" translate="common.group.moderator"></label>
                <md-autocomplete
                    md-selected-item="groupCtrl.selectedItem"
                    md-search-text-change="groupCtrl.searchTextChange(groupCtrl.searchText)"
                    md-search-text="groupCtrl.searchText"
                    md-items="item in groupCtrl.querySearch(groupCtrl.searchText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    md-menu-class="autocomplete-custom-template"
                    placeholder="Please select moderator!">
                    <md-item-template>
                        <i class="fa fa-user"></i>
                        <span md-highlight-text="groupCtrl.searchText" md-highlight-flags="^i">{{ item.name }} ({{ item.username }})</span>
                    </md-item-template>
                    <md-not-found>
                        <span>No user matching "{{ groupCtrl.searchText }}" were found</span>
                    </md-not-found>
                </md-autocomplete>
                <span class="text-danger" ng-show="groupCtrl.error.moderator">{{ groupCtrl.error.moderator }}</span>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" ng-click="groupCtrl.save()">Save</button>
                    <button type="button" class="btn btn-default" ng-click="groupCtrl.cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>