<div ng-hide="betting.data.hide">
<br>
<button class="btn btn-primary pull-right clearfix" ng-click="betting.add()"><span class="glyphicon glyphicon-plus"></span>Add Betting Match</button>
<br><br><br>
<div>
  <div ng-repeat="round in betting.data.bettingMatch | orderBy:'round'">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center">{{round.round}}</div>
      </div>
      <div class="panel-body" ng-repeat="match in round.bettingMatch">
        <div class="col-md-5 text-right">
          <span>{{match.match.competitor1.name}}</span>
        </div>
        <div class="col-md-2 text-center">{{match.match.score1}} - {{match.match.score2}}</div>
        <div class="col-md-5">
          <span>{{match.match.competitor2.name}}</span>
        </div>
        <div class="text-center">({{match.balance1}} - {{match.balance2}})</div>
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-hand-right"></span>Activate
        </button>
        <button type="button" class="btn btn-default" ng-click="betting.openUpdate()">
          <span class="glyphicon glyphicon-edit"></span>Update
        </button>
        <button type="button" class="btn btn-default" ng-click="betting.betMatch(round, match)">
          <span class="glyphicon glyphicon-hand-right"></span>Bet match
        </button>
      </div>
    </div>
    <br>
  </div>
</div>
</div>

<div class="panel-body" ng-hide="!betting.data.hide">
  <div ng-repeat="table in betting.data.match">
    {{table.name}}
  	<table class="table table-striped">
  		<thead class="bg-primary">
  			<td>ID</td>
  			<td>Match</td>
  			<td>Start time</td>
  			<td>Location</td>
  			<td></td>
  		</thead>
  		<tbody>
  			<tr ng-repeat="row in table.matches">
          <td>{{row.id}}</td>
          <td>{{row.competitor1.name}} - {{row.competitor2.name}}</td>
          <td>{{betting.parseTime(row.matchTime)}}</td>
          <td>{{row.location}}</td>
  				<td><button type="button" class="btn btn-success" ng-click="betting.chooseMatch(row)">Choose</button></td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</div>
<br>
