<div class="col-sm-8">
    <h1 translate="components.home.welcome-message">
        Welcome to ngaythobet!!!
    </h1>
    <img src="assets/images/ngaythobet.gif" alt="banner" />
    <h3 translatex="components.home.rules">Luật cá độ:</h3>
    <ul>
        <li translatex="components.home.rule1">Bạn có thể thay đổi bên thoải mái trước giờ hết hạn cá của mỗi trận đấu.</li>
        <li translatex="components.home.rule2">Bạn chỉ có thể không thua, thua ít hay thua nhiều, chứ không thắng tiền. Tiền thua của tất cả các thành viên sẽ được gom lại cho 1 hoặc nhiều cuộc ăn chơi.</li>
        <li translatex="components.home.rule3">Tỉ lệ chấp được dùng để cân bằng cá cược. Tỉ số của mỗi bên sẽ được cộng với tỉ lệ chấp của bên đó.</li>
        <li translatex="components.home.rule4">Nếu bạn không cá trong một trận nào đó, bạn sẽ thua số tiền của trận đó.</li>
    </ul>
    <h3 translatex="components.home.loss-amount-rules">Cách tính tiền thua:</h3>
    <ul>
        <li translatex="components.home.loss-amount-rule1">Kết quả hòa, cá bên nào cũng thua 1/2 số tiền.</li>
        <li translatex="components.home.loss-amount-rule2">Chấp 0.25 trái, kết quả hòa, bắt bên được chấp (0.25) thì không mất tiền, bắt bên chấp (0) thì mất 1/2 số tiền.</li>
        <li translatex="components.home.loss-amount-rule3">Chấp 0.5 trái, kết quả hòa, bắt bên được chấp (0.5) thì không mất tiền, bắt bên chấp (0) thì mất trọn số tiền</li>
    </ul>

    <strong translatex="components.home.loss-amount-regular">Công thức:</strong> Diff = ĐộiBạnCá - ĐộiĐốiThủ (sau khi đã tính tỉ lệ chấp). Tùy theo giá trị của Diff, bạn sẽ mất:<br>
    <ul>
        <li>-0.5 < Diff < 0.25: Bạn thua nửa số tiền cá của trận đó.</li>
        <li>Diff <= -0.5: Bạn thua cả số tiền cá của trận đó.</li>
        <li>Diff >= 0.25: Bạn không thua đồng nào. Chúc mừng.</li></ul>
        <p>
            <strong translatex="components.home.loss-amount-example">Ví dụ</strong>: VN vs. USA, tiền: 10k
            <ul>
                <li>Chấp 0 : 0.5, Kết quả 0:0. Bạn cá VN. Diff = 0 - (0 + 0.5) = -0.5. Bạn thua hết 10k.</li>
                <li>Chấp 0 : 0.5, Kết quả 1:0. Bạn cá VN. Diff = 1 - (0 + 0.5) = 0.5. Bạn không thua đồng nào.</li>
                <li>Chấp 0 : 0.25, Kết quả 0:0. Bạn cá VN thì thua 5k, cá US thì không mất tiền</li>
                <li>Chấp 0 : 0, Kết quả 0:0. Bạn cá VN (hoặc US, sao cũng thua). Diff = (0) - (0) = 0. Bạn thua 1/2 số tiền (5k).</li>
                <li>Chấp 0 : 1, Kết quả 0:0. Bạn cá US. Diff = (0 + 1) - 0 = 1. Bạn không thua đồng nào.</li>
            </ul>
        </p>
    </div>
<div class="col-sm-4">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
    <div ng-show="!home.isAuthorized">
        <div login></div>
        <div register></div>
    </div>
</div>
