<div class="container" ng-controller="ResetPasswordFinishController as resetPassword">
  <form class="form-horizontal" enctype="application/json" ng-submit="resetPassword.resetPasswordFinish(resetPasswordInfo)">
  <div class="form-group">
    <label for="password" class="col-md-2 control-label" translate="components.resetpassword.password"></label>
    <div class="col-md-6">
      <input type="password" class="form-control" id="password" placeholder="Please enter your password" ng-model="resetPasswordInfo.password" required>
      <span class="text-danger" ng-show="resetPassword.errorMessage" ng-bind="resetPassword.errorMessage.password"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword" class="col-md-2 control-label" translate="components.resetpassword.confirmPassword"></label>
    <div class="col-md-6">
      <input type="password" class="form-control" id="confirmPassword" placeholder="Please confirm your password" ng-model="resetPasswordInfo.confirmPassword" required>
      <span class="text-danger" ng-show="resetPassword.errorMessage" ng-bind="resetPassword.errorMessage.confirmPassword"></span>
      <span class="text-danger" ng-show="resetPassword.errorMessage" ng-bind="resetPassword.errorMessage.message"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <button type="submit" class="btn btn-primary" translate="components.resetpassword.saveButton">Save</button>
    </div>
  </div>
</form>
</div>